/web/sites/*/settings.local.php
/web/sites/*/services*.yml
!/web/sites/*/services.yml

/web/sites/*/files
/web/sites/*/private

/drush/Commands/contrib/
/web/core/
/web/modules/contrib/
/web/themes/contrib/
/web/profiles/contrib/
/web/libraries/
/web/private/scripts/quicksilver
/web/sites/default/settings.php
/vendor/

/.editorconfig
/.gitattributes

/.drush-lock-update

/web/**/.gitignore

node_modules/
